@model DotNetCoreAppExample.Application.ViewModels.ContatoViewModel

<div id="EnderecoForm">
    <hr />
    <h3>Endereço do Contato</h3>

    <div class="form-group">
        <label asp-for="Endereco.Logradouro" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Endereco.Logradouro" class="form-control" />
            <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Endereco.Numero" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Endereco.Numero" class="form-control" />
            <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Endereco.Complemento" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Endereco.Complemento" class="form-control" />
            <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Endereco.Bairro" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Endereco.Bairro" class="form-control" />
            <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Endereco.CEP" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Endereco.CEP" class="form-control" />
            <span asp-validation-for="Endereco.CEP" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Endereco.Cidade" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Endereco.Cidade" class="form-control" />
            <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Endereco.Estado" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.Partial("_Estados")
            <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
        </div>
    </div>
</div>